<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5QgL0i7duHu9H4oAQZLcpu1HAox2pn6A</string>
	<key>GCM_SENDER_ID</key>
	<string>910035644904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listFirestore</string>
	<key>PROJECT_ID</key>
	<string>list-firestore-ulist</string>
	<key>STORAGE_BUCKET</key>
	<string>list-firestore-ulist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910035644904:ios:79b3d8f4246ed21d4e345d</string>
</dict>
</plist>